body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #fdfeff;
}

.main-loader {
  z-index: 99 !important;
}

:root {
  --black: #08121f;
  --red: #ff113c;
  --blue: #1b7cff;
  --red-light: #ff1e55;
  --red-dark: #fb1022;
  --white: #fdfeff;
}
